/*全局样式*/
* {
    margin: 0;
    padding: 0;
}
ul,dl,ol{ list-style-type: none;}
div {
    display: block;
}
img{border:none;}
a{ color:#333; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
a:hover{color: #B11918; text-decoration:underline;}

body {
    background-color: #f7f7f7;
}

.header {
    width: 100%;
    height: 150px;
    margin: 0 auto;
}
.header-bg {
    width: 980px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
.logo {
    position: absolute;
    left: 0px;
    top: 30px;
}
.header-right a {
    width: 100px;
    height: 30px;
    color: black;
    margin-top: 20px;
    float: right;
}
/**/
.menu{
	position: relative;
    z-index: 999;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background: url(../images/nav-bg.jpg) repeat-x;
}
#nav {
    width: 1000px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
}
#nav li {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 990;
}
#nav li a {
    float: left;
    color: #FFF;
    text-decoration: none;
    padding: 0 17px;
    font-family: \5FAE\8F6F\96C5\9ED1;
}
#nav li a:hover{ 
	background:#940000;color:#FFF;
}
#nav li ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 45px;
    width: 130px;
    z-index: 99999;
}
#nav li li {
    float: left;
    display: inline;
    border-top: 1px solid #FFF;
    background: #940000;
    padding-right: 0px;
}
#nav li li a{ 
	float:left;
	display:block;
	text-align:left;
	text-decoration:none;
	width:130px; 
	font-weight:normal;
	line-height:30px; 
	padding:5px 13px;
	font-size:14px; 
	background:none; 
	color:#fff !important;
}
#nav li li a:hover  {color:#fff !important;  background:#69737F;}
#nav li:hover ul {display:block;}
#nav li.sfhover ul {left:0px;display:block;}